:root {
    --c-dark1: 359, 75%, 11% ;
    --c-dark2: 19, 37%, 55% ;
    --c-light1: 21, 79%, 85% ;
    --c-light2: 247, 6%, 75% ;
    --c-alert: 2, 78%, 29% ;
    --background-alpha: 1;
}

body, a {
    background-color: hsla(var(--c-dark1), var(--background-alpha));
    color: hsla(var(--c-light2), 1);
}
header {
    background-color: hsla(var(--c-dark2), var(--background-alpha));
    color: black;
}
a {
    color: hsla(var(--c-light2), 1);
}
a:hover {
    color: hsla(var(--c-alert), 1);
}
em {
    color: hsla(var(--c-alert), 1);
}
button {
    background-color: inherit;
    color: inherit;
}