 /* svg specific formatting.
 uses the group tag (g) as the namespace 
 management tool of choice, as g tags are specific to svg
 and giving them class names adds to the code readability
  
 */

g {
     stroke: hsla(var(--c-light2), 1);
     stroke-width: 2px;
     fill: hsla(var(--c-light1), .7);
 }

 
/* linear gradient compnents */   
g.pale-gradient {
     /* for gradient fill */
     fill: url(#pale);
    }

linearGradient.fadeout {
    --stop-base-c: var(--c-light2);
    --stop-1-c: hsla(var(--stop-base-c), 1);
    --stop-2-c: hsla(var(--stop-base-c), 0);
}

stop.stop1 {
    stop-color: var(--stop-1-c);
}

stop.stop2 {
    stop-color: var(--stop-2-c);
}
 /* path classes */
path.data-line {
         fill: none;
     }
 /* text classes */
text {
    stroke-width: 0px;
    fill: hsla(var(--c-light2), 1);
    font-family: var(--font-text);
    font-weight: 300;
}
text.title {
    font-family: var(--font-title);
    font-size: calc(25px + 3vh); 
}


 
