@font-face {
    font-family: NunitoBlack;
    src: url('fonts/NunitoSans-Black.ttf');
}
@font-face {
    font-family: Nunito;
    src: url('fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: Open;
    src: url('Books/Tutorials/static/css/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenItalic;
    src: url('fonts/OpenSans-Italic.ttf');
}

:root {
    --font-fb: arial, helvetica, sans; /* fallback*/
    --font-title: NunitoBlack, var(--font-fb);
    --font-subti: Nunito, var(--font-fb);
    --font-text: Open, var(--font-fb);
    --font-italic: OpenItalic, var(--font-fb);
}

h1, header, header em {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: 100;
}

h2 {
    font-family: var(--font-subti);
    text-transform: uppercase;
}

body, p, th, td, button {
    font-family: var(--font-text);
    line-height: 1.5;
}

em {
    font-family: var(--font-italic);
}

a {
    text-decoration: none;
}