@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Raleway:ital,wght@0,200;0,300;1,100;1,200;1,300&display=swap');

:root {
    --font-fb: Palatino, serif; /* fallback*/
    --font-title: 'Cinzel Decorative', var(--font-fb);
    --font-text: 'Raleway', var(--font-fb);
}

h1, h2, header, header em {
    font-family: var(--font-title);
    font-weight: 300;
}

body, p, th, td, button {
    font-family: var(--font-text);
}

a {
    text-decoration: none;
}