body {
    padding: 0px;
    margin: 0px;
}
.slideshow {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow-y: scroll;
}
.slide {
    scroll-snap-align: start;
    max-width: 100vw;
    height: 100vh;
}

.layout-side {
    display: inline-grid;
    grid-template-columns: 10vw 5vw auto 25vw;
}

.layout-side header {
    padding-top: 1vw;
    grid-column: 1 / 2;
    font-size: 6vw;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: var(--font-title);
}

.layout-side main {
    grid-column: 3 / 4;
}

h1 {
    font-size: calc(50px + 4vh);
    margin-bottom: 3vh;
}

p, td, li, code, button {
    font-size: calc(36px + 1vh);
}

code {
    color: hsla(var(--c-alert), 1);
}